/* DataReports.css */

.dr-issuers-table-container {
    max-height: 520px;
    overflow-y: auto;
    padding-right: 10px;
}

.data-reports-page {
    display: flex;
}

.dr-issuers-section {
    order: 1;
    width: 15%;
    margin-right: 20px;
}

.dr-strategy-section {
    order: 2;
    width: 85%;
    flex: 1;
}

.dr-strategy-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 520px;
}

.dr-strategy-list-container {
    overflow-y: auto;
}

.dr-strategy-item {
    background-color: #663366;
    color: white;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}


.dr-strategy-item:hover {
    background-color: var(--purple-active-tab);
}

.dr-watch-status-icon{
    width: 17px;
    padding-top: 3px;
}

.dr-content-container{
    display: flex;
    flex-direction: column;
}

.dr-strategy-list-container {
    overflow-y: auto;
}

.dr-issuers-table td {
    padding: 10px;
}

.dr-issuers-table td + td {
    border-left: none;
}

.dr-issuers-table tr td:last-child {
    width: 48px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

.da-content-subtitle {
    line-height: 1.5;
}

.selected {
    background-color: var(--purple-table-header);
}

.period-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.period-button img {
    width: 17px;
}

.period-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.period-button-inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
}

.signals {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.signals .buy {
    color: var(--green-buy-signal)
}

.signals .sell {
    color: var(--red-sell-signal)
}